<div class="all-component-head">STARSHIPS LIST</div>
<div style="display: flex; margin-top: 35px;">
  <div class="component_list">
    <div *ngFor="let starship of starshipsList">
      <div class="component_button" (click)="starshipSelected(starship)" [class.isSelected]="starship.name == starshipName">
        {{starship.name}}
      </div>
    </div>
    <div style="border-top: 1px solid black; margin-left: 10px; width: 200px;"></div>
    <div *ngIf="finishedList" class="next-list" (click)="nextList()">NEXT</div>
  </div>
  <div style="margin-left: 10px; width: 100%;">
    <div *ngIf="starship_selected">
      <table style="width: 100%;">
        <tr>
          <td class="component-body_category">MODEL</td>
          <td class="component-body_category">CLASS</td>
          <td class="component-body_category">PASSENGERS</td>
          <td class="component-body_category">CARGO CAPACITY</td>
          <td class="component-body_category">LENGTH</td>
        </tr>
        <tr>
          <td>{{starship_selected.model}}</td>
          <td>{{starship_selected.starship_class}}</td>
          <td>{{starship_selected.passengers}}</td>
          <td>{{starship_selected.cargo_capacity}}</td>
          <td>{{starship_selected.length}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td class="component-body_category">CONSUMABLES</td>
          <td class="component-body_category">COST IN CREDIT</td>
          <td class="component-body_category">CREATED</td>
          <td class="component-body_category">CREW</td>
        </tr>
        <tr>
          <td>{{starship_selected.consumables}}</td>
          <td>{{starship_selected.cost_in_credits}}</td>
          <td>{{starship_selected.created}}</td>
          <td>{{starship_selected.crew}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td class="component-body_category">EDITED</td>
          <td class="component-body_category">HYPERDRIVE RATING</td>
          <td class="component-body_category">MANUFACTURER</td>
          <td class="component-body_category">MAX SPEED</td>
        </tr>
        <tr>
          <td>{{starship_selected.edited}}</td>
          <td>{{starship_selected.hyperdrive_rating}}</td>
          <td>{{starship_selected.manufacturer}}</td>
          <td>{{starship_selected.max_atmosphering_speed}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td *ngIf="starship_selected.films.length>0" class="component-body_category">MOVIES</td>
          <td *ngIf="starship_selected.pilots.length>0" class="component-body_category">PILOTS</td>
        </tr>
        <tr>
          <td *ngIf="starship_selected.films.length>0">
            <div *ngFor="let movie of starshipMovies" class="component-body_category-list" (click)="redirectToMovieSelected(movie)" [routerLink]="['/films']">
              {{movie['title']}}
            </div>
          </td>
          <td *ngIf="starship_selected.pilots.length>0">
            <div *ngFor="let pilote of starshipPilotes" class="component-body_category-list" (click)="redirectToPeopleSelected(pilote)" [routerLink]="['/people']">
              {{pilote['name']}}
            </div>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
