<div class="all-component-head">VEHICLES LIST</div>
<div style="display: flex; margin-top: 35px;">
  <div class="component_list">
    <div *ngFor="let vehicle of vehiclesList">
      <div class="component_button" (click)="vehicleSelected(vehicle)" [class.isSelected]="vehicle.name == vehicleName">
        {{vehicle.name}}
      </div>
    </div>
    <div style="border-top: 1px solid black; margin-left: 10px; width: 200px;"></div>
    <div *ngIf="finishedList" class="next-list" (click)="nextList()">NEXT</div>
  </div>
  <div style="margin-left: 10px; width: 100%;">
    <div *ngIf="vehicle_selected">
      <table style="width: 100%;">
        <tr>
          <td class="component-body_category">NAME</td>
          <td class="component-body_category">MODEL</td>
          <td class="component-body_category">MANUFACTURER</td>
          <td class="component-body_category">COST IN CREDITS</td>
        </tr>
        <tr>
          <td>{{vehicle_selected.name}}</td>
          <td>{{vehicle_selected.model}}</td>
          <td>{{vehicle_selected.manufacturer}}</td>
          <td>{{vehicle_selected.cost_in_credits}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td class="component-body_category">LENGTH</td>
          <td class="component-body_category">MAX SPEED</td>
          <td class="component-body_category">CREW</td>
          <td class="component-body_category">PASSENGERS</td>
        </tr>
        <tr>
          <td>{{vehicle_selected.length}}</td>
          <td>{{vehicle_selected.max_atmosphering_speed}}</td>
          <td>{{vehicle_selected.crew}}</td>
          <td>{{vehicle_selected.passengers}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td class="component-body_category">CARGO CAPACITY</td>
          <td class="component-body_category">CONSUMABLES</td>
          <td class="component-body_category">VEHICLE CLASS</td>
          <td class="component-body_category">PASSENGERS</td>
        </tr>
        <tr>
          <td>{{vehicle_selected.cargo_capacity}}</td>
          <td>{{vehicle_selected.consumables}}</td>
          <td>{{vehicle_selected.vehicle_class}}</td>
          <td>{{vehicle_selected.passengers}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td *ngIf="vehicle_selected.films.length>0" class="component-body_category">MOVIES</td>
          <td *ngIf="vehicle_selected.pilots.length>0" class="component-body_category">PILOTS</td>
        </tr>
        <tr>
          <td *ngIf="vehicle_selected.films.length>0">
            <div *ngFor="let movie of vehiclesMovies" class="component-body_category-list" (click)="redirectToMovieSelected(movie)" [routerLink]="['/films']">
              {{movie['title']}}
            </div>
          </td>
          <td *ngIf="vehicle_selected.pilots.length>0">
            <div *ngFor="let pilot of vehiclesPilots" class="component-body_category-list" (click)="redirectToResidentSelected(pilot)" [routerLink]="['/people']">
              {{pilot['name']}}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td *ngIf="species_selected.films.length>0" class="component-body_category">MOVIES</td>
          <td *ngIf="species_selected.people.length>0" class="component-body_category">RESIDENTS</td>
        </tr>
        <tr>
          <td *ngIf="species_selected.films.length>0">
            <div *ngFor="let movie of speciesMovies" class="component-body_category-list" (click)="redirectToMovieSelected(movie)" [routerLink]="['/films']">
              {{movie['title']}}
            </div>
          </td>
          <td *ngIf="species_selected.people.length>0">
            <div *ngFor="let resident of speciesResidents" class="component-body_category-list" (click)="redirectToResidentSelected(resident)" [routerLink]="['/people']">
              {{resident['name']}}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div> -->
