.search-bar {
  border: 0.5px solid black;
  margin: 15px 0 15px 15px;
  width: fit-content;
  border-radius:  5px;
}
td {
  border: 1px solid black;
}

.search-list {
  width: 300px;
  text-align: center;
  cursor: pointer;
  color: blue;
}

.search-list:hover {
  color: tomato;
}
