<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<div class="search-bar">
  <i class="icon-search" style="margin: 5px;"></i>
    <input type="text" style="border: none; margin: auto;" placeholder='SEARCH' (input)="textFilterChanged()" [(ngModel)]="textFilter">
</div>
<div style="display: flex;">
  <div *ngIf="nameSearchActivated">
    <div style="margin: 50px;">
      <table>
        <tr>
          <td class="component-body_category" style="width: 300px;">NAME</td>
          <td *ngIf="modelSearchActivated" class="component-body_category" style="width: 300px;">MODEL</td>
          <td class="component-body_category" style="width: 300px;">GATEGORY</td>
        </tr>
      </table>
    </div>
    <div *ngFor="let data of searchList" style="margin-left: 50px;">
      <div *ngIf="data['name']">
        <table>
          <tr>
            <td class="search-list" (click)="redirectTo(data, data['category'])">{{data['name']}}</td>
            <td *ngIf="modelSearchActivated" style="width: 300px; text-align: center;cursor: pointer;">{{data['model']}}</td>
            <td style="width: 300px; text-align: center;">{{data['category']}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="titleSearchActivated">
    <div style="margin: 50px;">
      <table>
        <tr>
          <td class="component-body_category" style="width: 300px;">TITLE</td>
          <td class="component-body_category" style="width: 300px;">GATEGORY</td>
        </tr>
      </table>
    </div>
    <div *ngFor="let data of searchList" style="margin-left: 50px;">
      <div *ngIf="data['title']">
        <table>
          <tr>
            <td class="search-list" (click)="redirectTo(data, data['category'])"> {{data['title']}}</td>
            <td style="width: 300px; text-align: center;">{{data['category']}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


