<div class="all-component-head">PLANETS LIST</div>
<div style="display: flex; margin-top: 35px;">
  <div class="component_list">
    <div *ngFor="let planet of planetsList">
      <div class="component_button" (click)="planetSelected(planet)" [class.isSelected]="planet.name == planetName">
        {{planet.name}}
      </div>
    </div>
    <div style="border-top: 1px solid black; margin-left: 10px; width: 200px;"></div>
    <div *ngIf="finishedList" class="next-list" (click)="nextList()">NEXT</div>
  </div>
  <div style="margin-left: 10px; width: 100%;">
    <div *ngIf="planet_selected">
      <table style="width: 100%;">
        <tr>
          <td class="component-body_category">NAME</td>
          <td class="component-body_category">POPULATION</td>
          <td class="component-body_category">ROTATION PERIOD</td>
          <td class="component-body_category">ORBITAL CAPACITY</td>
        </tr>
        <tr>
          <td>{{planet_selected.name}}</td>
          <td>{{planet_selected.population}}</td>
          <td>{{planet_selected.rotation_period}}</td>
          <td>{{planet_selected.orbital_period}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
          <tr>
            <td class="component-body_category">DIAMETER</td>
            <td class="component-body_category">CLIMATE</td>
            <td class="component-body_category">GRAVITY</td>
            <td class="component-body_category">TERRAIN</td>
          </tr>
          <tr>
            <td>{{planet_selected.diameter}}</td>
            <td>{{planet_selected.climate}}</td>
            <td>{{planet_selected.gravity}}</td>
            <td>{{planet_selected.terrain}}</td>
          </tr>
        </table>
        <table style="width: 100%; margin-top: 50px;">
          <tr>
            <td class="component-body_category">SURFACE WATER</td>
            <td class="component-body_category">CREATED</td>
            <td class="component-body_category">EDITED</td>
          </tr>
          <tr>
            <td>{{planet_selected.surface_water}}</td>
            <td>{{planet_selected.created}}</td>
            <td>{{planet_selected.edited}}</td>
          </tr>
        </table>
        <table style="width: 100%; margin-top: 50px;">
          <tr>
            <td *ngIf="planet_selected.films.length>0" class="component-body_category">MOVIES</td>
            <td *ngIf="planet_selected.residents.length>0" class="component-body_category">RESIDENTS</td>
          </tr>
          <tr>
            <td *ngIf="planet_selected.films.length>0">
              <div *ngFor="let movie of planetMovies" class="component-body_category-list" (click)="redirectToMovieSelected(movie)" [routerLink]="['/films']">
                {{movie['title']}}
              </div>
            </td>
            <td *ngIf="planet_selected.residents.length>0">
              <div *ngFor="let resident of planetResidents" class="component-body_category-list" (click)="redirectToResidentSelected(resident)" [routerLink]="['/people']">
                {{resident['name']}}
              </div>
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>
