
<div class="page_head">welcome to the star wars universe</div>
<div class="category search_button" [routerLink]="['/search']" [ngClass]="{'actived_element': location.href.includes('search')}">SEARCH</div>
<div class="body">
  <div class="category" [routerLink]="['/films']" [ngClass]="{'actived_element': location.href.includes('films')}">
    <div class="category-title">Movies</div>
  </div>
  <div class="category" routerLink="/people" [ngClass]="{'actived_element': location.href.includes('people')}">
    <div class="category-title">People</div>
  </div>
  <div class="category" routerLink="/starships" [ngClass]="{'actived_element': location.href.includes('starships')}">
      <div class="category-title">Starships</div>
  </div>
  <div class="category" routerLink="/planets" [ngClass]="{'actived_element': location.href.includes('planets')}">
    <div class="category-title">Planets</div>
  </div>
  <div class="category" routerLink="/species" [ngClass]="{'actived_element': location.href.includes('species')}">
    <div class="category-title">Species</div>
  </div>
  <div class="category" routerLink="/vehicles" [ngClass]="{'actived_element': location.href.includes('vehicles')}">
    <div class="category-title">vehicles</div>
  </div>
</div>
<router-outlet></router-outlet>
