.page_head {
  width: auto;
  height: 100px;
  background-color: black;
  color: yellow;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: xx-large;
}

.body {
  display: flex;
  margin-top: 10px;
}

.category {
  width: 100px;
  text-align: center;
  margin: auto auto 10px auto;
  border: 2px solid black;
  cursor: pointer;
  color: yellow;
  background-color: black;
  border-radius: 5px;
}
.actived_element {
  background-color: white;
  color: red;
}

.search_button {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
