<div class="all-component-head">MOVIES LIST</div>
<div style="display: flex;">
  <div *ngFor="let movie of moviesList">
    <div [class.isSelected]="movie.title == filmTitle" class="all-component-body" (click)="movieSelected(movie)">{{movie.title}}</div>
  </div>
</div>
<div *ngIf="movie_selected">
  <table style="width: 100%;">
    <tr>
      <td class="component-body_category">TITLE</td>
      <td class="component-body_category">DIRECTOR</td>
      <td class="component-body_category">PRODUCER</td>
      <td class="component-body_category">CREATED</td>
      <td class="component-body_category">RELEASE DATE</td>
    </tr>
    <tr>
      <td>{{movie_selected.title}}</td>
      <td>{{movie_selected.director}}</td>
      <td>{{movie_selected.producer}}</td>
      <td>{{movie_selected.created}}</td>
      <td>{{movie_selected.release_date}}</td>
    </tr>
  </table>
  <table style="margin: 50px auto 50px auto;">
    <tr>
      <td class="component-body_category">DESCRIPTION</td>
    </tr>
    <tr>
      <td>{{movie_selected.opening_crawl}}</td>
    </tr>
  </table>
  <table style="width: 100%;">
    <tr>
      <td class="component-body_category">PEOPLE</td>
      <td class="component-body_category">PLANETS</td>
      <td class="component-body_category">SPECIES</td>
      <td class="component-body_category">STARSHIPS</td>
      <td class="component-body_category">vehicles</td>
    </tr>
    <tr>
      <td>
        <div *ngFor="let people of moviesPeoples" class="component-body_category-list" (click)="redirectToPeopleSelected(people)" [routerLink]="['/people']">
          {{people['name']}}
        </div>
      </td>
      <td>
        <div *ngFor="let planet of moviesPlanets" class="component-body_category-list" (click)="redirectToPlanetSelected(planet)" [routerLink]="['/planets']">
          {{planet['name']}}
        </div>
      </td>
      <td>
        <div *ngFor="let species of moviesSpecies" class="component-body_category-list" (click)="redirectToSpeciesSelected(species)" [routerLink]="['/species']">
          {{species['name']}}
        </div>
      </td>
      <td>
        <div *ngFor="let starship of moviesStarships" class="component-body_category-list" (click)="redirectToStarshipSelected(starship)" [routerLink]="['/starships']">
          {{starship['name']}}
        </div>
      </td>
      <td>
        <div *ngFor="let vehicle of moviesVehicles" class="component-body_category-list" (click)="redirectToVehicleSelected(vehicle)" [routerLink]="['/vehicles']">
          {{vehicle['name']}}
        </div>
      </td>
    </tr>
  </table>
</div>

