<div class="all-component-head">PEOPLES LIST</div>
<div style="display: flex; margin-top: 35px;">
  <div class="component_list">
    <div *ngFor="let people of peoplesList">
      <div [class.isSelected]="people.name == personeName" class="component_button" (click)="peopleSelected(people)">{{people.name}}</div>
    </div>
    <div style="border-top: 1px solid black; margin-left: 10px; width: 200px;"></div>
    <div *ngIf="finishedList" class="next-list" (click)="nextList()">NEXT</div>
  </div>
  <div style="margin-left: 10px; width: 100%;">
    <div *ngIf="people_selected">
      <table style="width: 100%;">
        <tr>
          <td class="component-body_category">NAME</td>
          <td class="component-body_category">GENDER</td>
          <td class="component-body_category">BIRTH YEAR</td>
          <td class="component-body_category">MASS</td>
        </tr>
        <tr>
          <td>{{people_selected.name}}</td>
          <td>{{people_selected.gender}}</td>
          <td>{{people_selected.birth_year}}</td>
          <td>{{people_selected.mass}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td class="component-body_category">HEIGHT</td>
          <td class="component-body_category">SKIN COLOR</td>
          <td class="component-body_category">HAIR COLOR</td>
          <td class="component-body_category">EYES COLOR</td>
        </tr>
        <tr>
          <td>{{people_selected.height}}</td>
          <td>{{people_selected.skin_color}}</td>
          <td>{{people_selected.hair_color}}</td>
          <td>{{people_selected.eye_color}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td *ngIf="people_selected.films.length > 0" class="component-body_category">MOVIES</td>
          <td *ngIf="people_selected.homeworld.length > 0" class="component-body_category">HOMEWORLD</td>
          <td *ngIf="people_selected.starships.length > 0" class="component-body_category">STARSHIPS</td>
          <td *ngIf="people_selected.species.length > 0" class="component-body_category">SPECIES</td>
          <td *ngIf="people_selected.vehicles.length > 0" class="component-body_category">vehicles</td>
        </tr>
        <tr>
          <td *ngIf="people_selected.films.length > 0">
            <div *ngFor="let movie of peopleMovies" class="component-body_category-list" (click)="redirectToMovieSelected(movie)" [routerLink]="['/films']">
              {{movie['title']}}
            </div>
          </td>
          <td>
            <div class="component-body_category-list" (click)="redirectToPlanetSelected()" [routerLink]="['/planets']">
              {{homeworld['name']}}
            </div>
          </td>
          <td *ngIf="people_selected.starships.length > 0">
            <div *ngFor="let starship of peopleStarships" class="component-body_category-list" (click)="redirectToStarshipSelected(starship)" [routerLink]="['/starships']">
              {{starship['name']}}
            </div>
          </td>
          <td *ngIf="people_selected.species.length > 0">
            <div *ngFor="let species of peopleSpecies" class="component-body_category-list" (click)="redirectToSpeciesSelected(species)" [routerLink]="['/species']">
              {{species['name']}}
            </div>
          </td>
          <td *ngIf="people_selected.vehicles.length > 0">
            <div *ngFor="let vehicle of pilotsVehicles" class="component-body_category-list" (click)="redirectToVehicleSelected(vehicle)" [routerLink]="['/vehicles']">
              {{vehicle['name']}}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

