<div class="all-component-head">SPECIES LIST</div>
<div style="display: flex; margin-top: 35px;">
  <div class="component_list">
    <div *ngFor="let species of speciesList">
      <div class="component_button" (click)="speciesSelected(species)" [class.isSelected]="species.name == speciesName">
        {{species.name}}
      </div>
    </div>
    <div style="border-top: 1px solid black; margin-left: 10px; width: 200px;"></div>
    <div *ngIf="finishedList" class="next-list" (click)="nextList()">NEXT</div>
  </div>
  <div style="margin-left: 10px; width: 100%;">
    <div *ngIf="species_selected">
      <table style="width: 100%;">
        <tr>
          <td class="component-body_category">NAME</td>
          <td *ngIf="species_selected.classification != 'n/a'" class="component-body_category">CLASSIFICATION</td>
          <td *ngIf="species_selected.designation != 'n/a'" class="component-body_category">DESIGNATION</td>
          <td *ngIf="species_selected.average_height != 'n/a'" class="component-body_category">AVERAGE HEIGHT</td>
        </tr>
        <tr>
          <td>{{species_selected.name}}</td>
          <td *ngIf="species_selected.classification != 'n/a'">{{species_selected.classification}}</td>
          <td *ngIf="species_selected.designation != 'n/a'">{{species_selected.designation}}</td>
          <td *ngIf="species_selected.average_height != 'n/a'">{{species_selected.average_height}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td *ngIf="species_selected.average_lifespan != 'n/a'" class="component-body_category">AVERAGE LIFESPAN</td>
          <td *ngIf="species_selected.language != 'n/a'" class="component-body_category">LANGUAGE</td>
          <td *ngIf="species_selected.created != 'n/a'" class="component-body_category">CREATED</td>
          <td *ngIf="species_selected.edited != 'n/a'" class="component-body_category">EDITED</td>
        </tr>
        <tr>
          <td *ngIf="species_selected.average_lifespan != 'n/a'">{{species_selected.average_lifespan}}</td>
          <td *ngIf="species_selected.language != 'n/a'">{{species_selected.language}}</td>
          <td *ngIf="species_selected.created != 'n/a'">{{species_selected.created}}</td>
          <td *ngIf="species_selected.edited != 'n/a'">{{species_selected.edited}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td *ngIf="species_selected.skin_colors != 'n/a'" class="component-body_category">SKIN COLORS</td>
          <td *ngIf="species_selected.eye_colors != 'n/a'" class="component-body_category">HAIR COLOR</td>
          <td *ngIf="species_selected.hair_colors != 'n/a'" class="component-body_category">EYES COLORS</td>
        </tr>
        <tr>
          <td *ngIf="species_selected.skin_colors != 'n/a'">{{species_selected.skin_colors}}</td>
          <td *ngIf="species_selected.eye_colors != 'n/a'">{{species_selected.eye_colors}}</td>
          <td *ngIf="species_selected.hair_colors != 'n/a'">{{species_selected.hair_colors}}</td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td *ngIf="species_selected.films.length>0" class="component-body_category">MOVIES</td>
          <td *ngIf="species_selected.people.length>0" class="component-body_category">RESIDENTS</td>
        </tr>
        <tr>
          <td *ngIf="species_selected.films.length>0">
            <div *ngFor="let movie of speciesMovies" class="component-body_category-list" (click)="redirectToMovieSelected(movie)" [routerLink]="['/films']">
              {{movie['title']}}
            </div>
          </td>
          <td *ngIf="species_selected.people.length>0">
            <div *ngFor="let resident of speciesResidents" class="component-body_category-list" (click)="redirectToResidentSelected(resident)" [routerLink]="['/people']">
              {{resident['name']}}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
