/* You can add global styles to this file, and also import other style files */
.all-component-head {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  margin-top: 50px;
}
.all-component-body {
  border: 1px solid black;
  width: 200px;
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin: 50px;
  cursor: pointer;
}

.component-body_category {
  text-align: center;
  font-weight: bolder;
}

.component_list {
  /* border: 1px solid black; */
  width: 200px;
  margin-right: 15px;
}

.component_button {
  border-top: 1px solid black;
  cursor: pointer;
  text-align: center;
  width: 200px;
  height: 35px;
  padding: 5px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin: 0 10px 0 10px;
}

.component_button:hover {
  color: tomato;
}

.component-body_category-list {
  cursor: pointer;
  padding: 5px;
  color: blue;
}

.component-body_category-list:hover {
  color: tomato;
}


.all-component-body::selection {
  background-color: brown;
}

.isSelected {
  color: yellow;
  background-color: black;
}

.next-list {
  border: 1px solid black;
  text-align: center;
  padding: 10px 0 10px 0;
  cursor: pointer;
  margin-left: 10px;
  width: 200px;
  margin-top: 10px;
}
